a {
  font-size: 1.5rem;
}

.parallax-header-team {
  background: linear-gradient(60deg, rgba(203, 45, 62, 0.7) 0%, rgba(239, 71, 58, 0.5) 100%), url(../images/cover_team.jpg) no-repeat scroll center 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 400px;
}